html, body {
  height: 100%;
}

#rooms_switcher {
  margin-bottom: 8px;
}

#viewport {
  background-color: transparent;
  overflow: hidden;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 700px;
}

#viewport, #viewport * {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#room {
  transform-style: preserve-3d;
}

#room > * {
  position: absolute;
  transform-style: preserve-3d;
  box-shadow: inset 0 20px 200px 8px rgba(0, 0, 0, 0.40);
}

#ceiling, #floor {
  bottom: 0;
  transform-origin: 0 100%;
  transform: rotateX(90deg);
}

#ceiling {
  bottom: 100%;
  background-size: cover;
}

#backwall {
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transform-origin: 100% 50%;
  transform: translateZ(-100vh);
}

@media (orientation: portrait) {
  #backwall {
    transform: translateZ(-100vw);
  }
}

[id*="sidewall"] {
  left: 0;
  background-size: auto 30%;
  transform-origin: 0 50%;
  transform: rotateY(90deg);
}

#sidewall_right {
  left: 100%;
}
